# System
.DS_Store
Thumbs.db
.env
*.log

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/

# Node
node_modules/
**/node_modules/
.next/
**/.next/
npm-debug.log
yarn-error.log
out/
build/

# Project Specific
alsakr_v2/Data/
alsakr_v2/v2_infra/backend/
alsakr_v2/v2_infra/frontend/
*.zip
*.key
*.pub
*.ppk
alsakr_console_rsa
oracle_new_key
connect_console.bat
